.navbar-dark .navbar-nav .nav-link {
  color: #fff
}

.btn-cancel,
.btn-cancel:hover {
  background: #eee;
  color: #333;
}

.btn-submit,
.btn-submit:hover {
  color: #fff;
  background: #63c156;

}

.btn-delete,
.btn-delete:hover {
  color: #fff;
  background: #c53130;
}

button.btn {
  border-radius: 6px;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
}

.table td,
.table th {
  vertical-align: middle;
}

h4,
h3 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #63c156;
}

p.error {
  color: #c53130;
}

.row {
  margin: 0;
}